@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

body {
  background-color: rgb(3, 3, 8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

*::-webkit-scrollbar {
  display: none;
}

.own {
  align-self: flex-end;
}

.own p {
  background-color: #0066ff;
  padding: 12px;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.8;
}
